{{define "header"}}
<link rel="stylesheet" href="static/style.css">
<header class="site-header">
    <div class="container header-inner">
        <div class="header-left">
            <img class="logo" src="static/ressources/logoWhite.png" alt="Logo Pretty Flacko" />
            <h1 class="brand">Power 4</h1>
        </div>
        <nav id="main-nav" class="main-nav" aria-label="Navigation principale">
               <ul>
                   <li><a href="index.html">Accueil</a></li>
               </ul>
           </nav>
    </div>
</header>
{{end}}